.container{
    text-align: center;
}

.inputs{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: auto;
}

.inputs input{
    margin: 10px;
}

table img{
    width: 30px;
    margin: 0 10px;
    cursor: pointer;
}

.none{
    display: none;
}